* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    border: 0;
    font-family: "ArialArmST", sans-serif;
    margin: 0;
    padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
    border: 0;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: separate;
    border-collapse: collapse;
    border-spacing: 0;
}

table caption, table th, table td {
    text-align: left;
    vertical-align: middle;
}

a img {
    border: 0;
}

:focus {
    outline: 0;
}

body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    outline: 0 !important;
}

p {
    cursor: default;
}

@font-face {
    font-family: 'ArialArmST';
    src: url('../fonts/ArialArmST-Bold.eot');
    src: url('../fonts/ArialArmST-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialArmST-Bold.woff2') format('woff2'),
    url('../fonts/ArialArmST-Bold.woff') format('woff'),
    url('../fonts/ArialArmST-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArialArmST';
    src: url('../fonts/ArialArmST-Regular.eot');
    src: url('../fonts/ArialArmST-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialArmST-Regular.woff2') format('woff2'),
    url('../fonts/ArialArmST-Regular.woff') format('woff'),
    url('../fonts/ArialArmST-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialArmST';
    src: url('../fonts/ArialArmST-Italic.eot');
    src: url('../fonts/ArialArmST-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialArmST-Italic.woff2') format('woff2'),
    url('../fonts/ArialArmST-Italic.woff') format('woff'),
    url('../fonts/ArialArmST-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ArialArmST';
    src: url('../fonts/ArialArmST-BoldItalic.eot');
    src: url('../fonts/ArialArmST-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialArmST-BoldItalic.woff2') format('woff2'),
    url('../fonts/ArialArmST-BoldItalic.woff') format('woff'),
    url('../fonts/ArialArmST-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    padding-bottom: 10px;
    ul {
        li {
            list-style: none;
        }
    }
    .pre-header{
        overflow: hidden;
    }
    .header-top {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 7px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 1000px 34px 1000px;
            border-color: transparent transparent #aad342 transparent;
            bottom: 0;
            right: -890px;
        }
        .top-info {
            padding-right: 30px;
            ul{
                text-align: center;
                li{
                    font-size: 20px;
                    color: #535353;
                    a{
                        color: #535353;
                        text-decoration: none;
                        font-size: 18px;
                    }
                }
            }
        }
        .top-language{
            ul{
                display: flex;
                li{
                    cursor: pointer;
                    width: 30px;
                    color: #303030;
                    transition: all 0.5s;
                    &:hover{
                        color: #ed217c;
                        letter-spacing: 0.1em;
                    }
                }
            }
            z-index: 5;
        }
    }
    .header-content{
        background: rgba(227,50,116,1);
        background: -moz-linear-gradient(top, rgba(227,50,116,1) 0%, rgba(227,50,116,1) 1%, rgba(235,53,124,1) 29%, rgba(220,46,113,1) 69%, rgba(229,57,122,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,50,116,1)), color-stop(1%, rgba(227,50,116,1)), color-stop(29%, rgba(235,53,124,1)), color-stop(69%, rgba(220,46,113,1)), color-stop(100%, rgba(229,57,122,1)));
        background: -webkit-linear-gradient(top, rgba(227,50,116,1) 0%, rgba(227,50,116,1) 1%, rgba(235,53,124,1) 29%, rgba(220,46,113,1) 69%, rgba(229,57,122,1) 100%);
        background: -o-linear-gradient(top, rgba(227,50,116,1) 0%, rgba(227,50,116,1) 1%, rgba(235,53,124,1) 29%, rgba(220,46,113,1) 69%, rgba(229,57,122,1) 100%);
        background: -ms-linear-gradient(top, rgba(227,50,116,1) 0%, rgba(227,50,116,1) 1%, rgba(235,53,124,1) 29%, rgba(220,46,113,1) 69%, rgba(229,57,122,1) 100%);
        background: linear-gradient(to bottom, rgba(227,50,116,1) 0%, rgba(227,50,116,1) 1%, rgba(235,53,124,1) 29%, rgba(220,46,113,1) 69%, rgba(229,57,122,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33274', endColorstr='#e5397a', GradientType=0 );
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
        padding: 0 60px;
        .container{
            position: relative;
        }
        .header-logo{
            position: absolute;
            right: 10px;
            bottom: -10px;
            background-color: #ffffff;
            width: 220px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            transform: skewX(-25deg);
            box-shadow: 9px 0 5px -5px rgba(51, 51, 51, 0.6), -9px 0px 5px -5px rgba(51, 51, 51, 0.6);
            //border-left: 1px solid rgba(0, 0, 0, 0.15);
            //border-right: 1px solid rgba(0, 0, 0, 0.15);
            //box-shadow: 0px 20px 25px 2px rgba(83, 82, 82, 0.42);
            img{
                transform: skewX(25deg);
            }
        }
        .header-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

        }
        .header-menu{
            >ul{
                >li{
                    display: inline-block;
                    padding: 15px 20px 15px 0;
                    >a{
                        font-size: 18px;
                        color: #ffffff;
                        text-decoration: none;
                        display: inline-block;
                        position: relative;
                        transition: all 0.5s;
                        text-shadow: -1px -1px 5px rgba(3, 3, 3, 0.8);
                        &:after{
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 100%;
                            margin: 0 auto;
                            width: 0;
                            height: 1px;
                            background-color: #ffffff;
                            transition: all 0.6s;
                        }
                        &:hover{
                            &:after{
                                width: 100%;
                            }
                        }
                    }
                    &.dropDown{
                        span{
                            transition: all 0.4s;
                        }
                        .subMenu{
                            position: absolute;
                            width: 100%;
                            left: 0;
                            z-index: 999;
                            background-color: #ffffff;
                            padding: 20px;
                            border: 1px solid #ebebeb;
                            box-shadow: -6px 6px 17px -6px rgba(119, 119, 119, 0.7);
                            top: 100px;
                            visibility: hidden;
                            opacity: 0;
                            transition: all .4s ease;
                            >ul{
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                li{
                                    .subItemTitle{
                                       h3{
                                           padding-bottom: 10px;
                                           color: #292929;
                                           text-transform: uppercase;
                                           font-size: 20px;
                                           font-weight: bold;
                                       }
                                    }
                                    $break-extraSmall: 320px;
                                    $break-small: 940px;
                                    $break-medium: 940px;
                                    $break-large: 1400px;
                                    $break-extraLarge: 1700px;
                                    .subItemImg{
                                        box-shadow: 0 0 25px -6px rgb(119, 119, 119);
                                        border-radius: 5px;
                                        @media screen and (max-width: $break-medium) {
                                            display: none;
                                        }
                                        @media screen and (min-width: $break-medium+1) and (max-width: $break-large){
                                            height: 125px;
                                            width: 125px;
                                        }
                                        @media screen and (min-width: $break-large+1) and (max-width: $break-extraLarge){
                                            height: 200px;
                                            width: 200px;
                                        }
                                        height: 274px;
                                        width: 274px;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            padding: 10px;
                                            object-fit: cover;
                                        }
                                    }
                                    ul{
                                        padding-top: 10px;
                                        padding-left: 10px;
                                        li{
                                            a{
                                                color: #292929;
                                                text-decoration: none;
                                                font-size: 14px;
                                                transition: all 0.5s;
                                                &:hover{
                                                    color: #fe8056;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        a{
                            &:after{
                                display: none;
                            }
                        }
                        &:hover{
                            span{
                                transform: rotate(180deg);
                            }
                            .subMenu{
                                top: 100%;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
        .login{
            ul{
                display: flex;
                input{
                    
                    border-radius: 3px;
                    width: 130px;
                    border: 0px;
                    background-color: #ffaccd;
                    text-decoration-line: 2px;
                    height: 20px;
                    margin: 0 2px;
                    &:focus{
                        border: 1px solid #ffffff;
                    }
                }
                button{
                    
                    border-radius: 3px;
                    border: 0px solid black;
                    width: 50px;
                    height: 20px;
                    margin: 0 2px;
                    cursor: pointer;
                    &:hover{
                        background-color: #c25e86;
                        border: 1px solid white;
                    }
                }
            }
            
            
        }
        .userinfo{
            ul{
                display: flex;
                li{
                    margin: 0 5px;
                    font-size: 15px;
                }
                img{
                    height: 15px;

                }
            }
        }
    }
}

