.shop-cart {
    flex: 0 0 78%;
    .cart-table {
        padding: 50px 15px;
        table {
            width: 100%;
            tr {
                border-top: 1px solid #e33274;
                &:last-child {
                    border-bottom: 1px solid #e33274;
                }
                td,
                th {
                    padding: 20px 15px;
                    text-align: center;
                    &:first-child {
                        width: 25%;
                        img {
                            width: 100%;
                            height: 150px;
                            object-fit: contain;
                        }
                    }
                    &:last-child {
                        text-align: right;
                    }
                    span.remove {
                        display: block;
                        cursor: pointer;
                        color: #e33274;
                        padding-top: 15px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        li {
                            list-style: none;
                            width: 40px;
                            height: 40px;
                            &.plus,
                            &.minus {
                                border: 1px solid #aad441;
                                font-size: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #aad441;
                                color: #ffffff
                            }
                            &.plus {
                                border-radius: 0 50% 50% 0;
                                border-left: none;
                                align-items: end;
                            }
                            &.minus {
                                border-radius: 50% 0 0 50%;
                                border-right: none;
                            }
                            span {
                                cursor: pointer;
                            }
                            input {
                                border: 1px solid #aad441;
                                border-width: 1px 0 1px;
                                vertical-align: top;
                                font-size: 20px;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                max-width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.shipping{
    flex: 0 0 78%;   
    .shipping-content{
        padding: 50px 0;
        .select-delivery{
            select{
                width: 100%;
                font-size: 18px;
                padding: 8px;
            }
        }
    } 
    .delivery-book-add {
        padding-top: 40px;
    }
    .datetime-wrapp{
        margin-top:20px; 
        display: flex;
        flex-wrap: wrap;
        
        border: 1px solid #aeaeae;
        border-radius: 5px;
        .datetime-item{
            font-size: 0;
            flex: 0 0 40%;
            .react-datepicker__day--selected{
                background-color: #e33274;
            }
            .react-datepicker__time-list-item--selected{
                background-color: #e33274 !important;
            }
            .react-datepicker{
                border: 0;
                border-right: 1px solid #aeaeae;
                border-radius: 6px 0 0 6px;  
            }
        }
        .datetime-info{
            flex: 0 0 60%;
            .datatime-info-content{
                padding: 30px 0; 
            }
            .datatime-input{
                text-align: center;
                position: relative;
                width: 230px;
                margin: 0 auto;
                input {
                    width: 100%;
                    border: 1px solid #D5D5D5;
                    font-size: 18px;
                    padding: 8px;
                    padding-right: 30px;
                    
                }
                &::after{
                    content: 'GTM+4';
                    position: absolute;
                    right: 5px;
                    top: 11px;
                    color: red;
                    font-size: 16px;
                }
            }
        }
    }
}

.next-btn {
    text-align: right;
    padding: 15px 0;
    a,button {
        text-decoration: none;
        font-size: 20px;
        padding: 8px 20px;
        color: #ffffff;
        background-color: #aad441;
        border: none;
        font-weight: bold;
        display: inline-block;
    }
}
.billing{
    flex: 0 0 78%;
    .billing-content{
        margin-top: 60px; 
        border-radius: 10px;
        background-color: #f7f8f9;
        padding: 30px 3px;
        .paymant{
            form{
                display: flex;
                justify-content: space-evenly;
            }
            button{
                font-size: 20px;
                padding: 8px 0;
                color: #ffffff;
                background-color: #aad441;
                border: none;
                font-weight: bold;
                flex: 0 0 25%;
                cursor: pointer;
                &:disabled{
                    background-color: #999999;
                }
            }
            .CardElement{
                flex: 0 0 70%;
                padding: 5px 10px;
                display: inline-block;
            }
        }
    }
    .billing-check-content{
        padding: 80px 0 0 0;
    }
}
.step {
    ul {
        display: flex;
        justify-content: space-around;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 25%;
            left: 0;
            right: 0;
            margin: auto;
            width: 70%;
            height: 1px;
            background-color: #e33274;
        }
        li {
            list-style: none;
            text-align: center;
            background-color: #ffffff;
            padding: 0 15px;
            color: #999999;
            &.passed {
                color: #171717;
            }
            span.step-item {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 42px;
                height: 42px;
                border: 1px solid #999999;
                border-radius: 50%;
                margin-bottom: 20px;
            }
            a {
                text-decoration: none;
                display: block;
                color: #ffffff;
                >span.step-item {
                    background-color: #aad342;
                    border: 1px solid #aad342;
                    font-weight: bold;
                }
            }
            &.active {
                span.step-item {
                    background-color: #e33274;
                    border: 1px solid #e33274;
                    font-weight: bold;
                    color: #ffffff;
                }
            }
        }
    }
}

.cart-check {
    table {
        background: #f7f7f7;
        border-bottom: 1px solid #c5c5c5;
        width: 100%;
        tr {
            td {
                padding: 15px;
                &:last-child {
                    text-align: right;
                }
            }
            &:last-child {
                border-top: 1px solid #c5c5c5;
            }
        }
    }
    .print-btn {
        width: 60px;
        margin-left: auto;
        padding: 10px;
        background: #f7f7f7;
        img {
            width: 100%;
            cursor: pointer;
        }
    }
}