.slider{
    height: 0px;
    border: 0px solid;
}
.customBody{
    padding: 30px 0;
}
.advertising-list{
    margin: 0 10px;
    .advertising-item{
        height: 300px;
        border: 1px solid aqua;  
        margin: 5px;
    }
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &.active{
        display: block;
    }
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    .form-group{
        &.error{
            input{
                border-color: red;
            }
        }
    }
    
}
.save-btn {
    padding: 5px 15px;
    button {
        font-size: 20px;
        padding: 0 20px;
        height: 39px;
        color: #ffffff;
        background-color: #aad441;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }
}

@import "homepage";
@import "product";
@import "cart";
@import "settings";
