.input-range__slider {
    appearance: none;
    background: #e9347a;
    border: 1px solid #e9347a;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 50%;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    width: 1rem; }
    .input-range__slider:active {
      transform: scale(1.3); }
    .input-range__slider:focus {
      box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
    .input-range--disabled .input-range__slider {
      background: #cccccc;
      border: 1px solid #cccccc;
      box-shadow: none;
      transform: none; }
  
  .input-range__slider-container {
    transition: left 0.3s ease-out; }
  
  .input-range__label {
    color: #aaaaaa;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    transform: translateZ(0);
    white-space: nowrap; }
  
  .input-range__label--min,
  .input-range__label--max {
    display: none; }
  
  .input-range__label--min {
    left: 0; }
  
  .input-range__label--max {
    right: 0; }
  
  .input-range__label--value {
    position: absolute;
    top: -1.8rem; }
  
  .input-range__label-container {
    left: -50%;
    position: relative; }
    .input-range__label--max .input-range__label-container {
      left: 50%; }
  
  .input-range__track {
    background: #eeeeee;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    transition: left 0.3s ease-out, width 0.3s ease-out; }
    .input-range--disabled .input-range__track {
      background: #eeeeee; }
  
  .input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%; }
  
  .input-range__track--active {
    background: #e9347a; }
  
  .input-range {
    height: 1rem;
    position: relative;
    width: 100%; }
.product-wrap{
    flex: 0 0 78.47%;
    display: flex;
    .product-table{
        display: flex;
        flex-wrap: wrap;
        .product-item{
            flex: 0 0 23.9%;
            margin: 5px;
            border: 1px solid green;
            height: 420px;
            transition: all 0.5s;
            position: relative;
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            .product-hover{
                position: absolute;
                width: 100%;
                height: 120px;
                background-color: #fff;
                left: 0;
                bottom: 0;
                z-index: 3;
                .hover-content{
                    text-align: center;
                    padding: 20px;
                    .product-price{
                        padding-bottom: 8px;
                        h5{
                            font-size: 18px;
                            font-weight: 300;
                            color: #7ca312;
                        }
                    }
                    .product-trash{
                        a{
                            text-decoration: none;
                            padding:8px 0;
                            display: block;
                            font-size: 16px;
                            background-color: #df2f74; 
                            color: #fff;
                            font-weight: 700;
                        }
                    }
                }
            }
            &:hover{
                box-shadow: 0px 0px 29px rgba(50, 50, 50, 1);
            }
        }
        .mor-products{
            flex: 0 0 100%;
            text-align: center;
            padding: 15px 0;
            a{
                text-decoration: none;
                color: #df2f74;
                font-size: 16px;
                font-weight: 700;
            }

        }
    }
    
}
.body-wrapp{
    display: flex;
    .filter{
        flex: 0 0 22%;
        padding-right: 15px;
        position: relative;
        .filter-menu{
            h3{
                font-size: 20px;
                color: #7ca312;
                letter-spacing: 0.02em;
            }
            >ul{
                padding: 20px 0;
                >li{
                    list-style: none;
                    padding-bottom: 10px;
                    cursor: pointer;
                    h4{

                    }
                    ul{
                        padding-top: 0;
                        overflow: hidden;
                        max-height: 0;
                        transition: all 0.5s;
                        li{
                            list-style: none;
                            a{
                                line-height: 1.3;
                                text-decoration: none;
                                font-size: 15px;
                                font-weight: 300;
                                color: #333333;
                            }
                        }
                        &.active{
                            padding-top: 10px;
                            padding-left: 15px;
                            max-height: 150px;

                        }
                    }
                }
            }
        }
        .filter-slide{
            padding: 25px 0;
            border-top: 1px solid #e1e1e1;                            
            h3{
                font-size: 20px;
                color: #7ca312;
                letter-spacing: 0.02em;
                padding-bottom: 35px;          
            }
        }
    }
}