.product-wrap{
    flex: 0 0 85.47%;
    .product-table{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid red;
        .product-item{
            flex: 0 0 23.99%;
            margin: 5px;
            border: 1px solid green;
            height: 400px;
            transition: all 0.5s;
            &:hover{
                box-shadow: 0px 0px 29px rgba(50, 50, 50, 1);
            }
        }
    }
}
